doctype html
html 
    head
        title= siteTitle
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css")
        script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin = "")
    body 
        div(id="flex-container")
            header
                h1= siteTitle 
            div(id="map-container")
                div(class="sidebar")
                    button(type="button", class="collapsible")= "Route"
                    div(class="collapsible-content")
                        form(action="", onsubmit="routeFormSubmit(this); return false") 
                            //- div(class="coordinate-input", data-id="0")
                            //-     input(type="number", name="lng0", required="", step="any")
                            //-     input(type="number", name="lat0", required="", step="any")
                            //-     button(type="button")= "Pick"
                            button(type="button", id="routeAdd", onclick="addCoordinateInputToRoute(this)")= "+"
                            button(type="button", onclick="removeCoordinateInputFromRoute(this)")= "-"
                            br
                            button(type="button", class="collapsible")= "advanced"
                            div(class="collapsible-content")
                                label(for="alternatives")= "alternatives"
                                div(class="tooltip", title="\"true\", \"false\", or number")= "(?)"
                                input(type="text", name="alternatives", autocomplete="off", value="false")
                                label(for="overview")= "overview"
                                div(class="tooltip", title="\"simplified\", \"full\", or \"false\"")= "(?)"
                                input(type="text", name="overview", autocomplete="off", value="simplified")
                            br
                            input(type="submit", value="Calculate")
                div(id="map")
            script(src="/script.js") 
            script(src="/route.js")
            footer 